.log-in-modal {
    width: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}
.log-in-header{
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}
.log-in-content{
    padding: 26px 24px 25px 24px;
}